[client]
port   = 3306
socket = /var/run/mysql/mysql.sock

[mysqld]
user = root
socket  = /var/run/mysql/mysql.sock
port = 3306
datadir = /var/mysql/data
log-bin = /var/mysql/mysql-bin

sql_mode=NO_BACKSLASH_ESCAPES

character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
init_connect='SET NAMES utf8mb4'
lower_case_table_names = 1